<%- include("partials/header.ejs") %>
<p class="text-center m-5 fs-2" >This is a CRUD project without a Database, Using NodeJS, EJS and ExpressJS to navigate through differente routes. It's basiclly a
    blog where you can Create random posts, View those posts on homepage, Update any post you choose and Delete whatever you choose.
</p>
<%- include('partials/footer.ejs') %>