<%- include("partials/header.ejs") %>


<form action="/" method="post">
    <textarea type="text" placeholder="What's on your mind?" name="text"></textarea>
    <input type="submit" value="Post">
</form>

<div>
    <% if(locals.arr){%>
        <% arr.map((item)=>{%>
            <p><%=item%></p>
        <%})}else{%>
            <p>No posts yet!</p>
        <%} %>
</div>

<%- include("partials/footer.ejs") %>