body{
    margin: 0;
    background-color: #EAD196;
    font-family: 'Rubik', sans-serif;
}
.post-section{
    margin-top: 2rem;
    background-color: #EAD196;
}
.post-form{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}
.post-text{
    width: 50%;
    align-self: center;
    background-color: #F3EDC8;
    border: 1px solid gray;
    text-indent: 1rem;
    padding-top: 1rem;
    border-radius: 5px;
    resize: none;
    color: #7D0A0A;
}
.post-text:focus{
    outline: 1px solid #7D0A0A;
}
.post-text:focus::placeholder{
    color: transparent;
}
.post-btn{
    padding: .2rem 1rem;
    align-self: center;
    color: #7D0A0A;
}
.posts{
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.posts p{
    color: #BF3131;
}
button{
    padding: .2rem 1rem;
    border: 1px solid gray;
    border-radius: 5px;
    color: #7D0A0A;
}
.default-text{
    color: #BF3131;


}

@keyframes fadeInAnimation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
