body{
    margin: 0;


}
.post-section{
    background-color: #D2E0FB;
}
.post-form{
    display: flex;
    flex-direction: column;
}
.post-text{
    width: 50%;
    align-self: center;
    background-color: #D2E0FB;

}
.post-btn{
    width: 70px;
    align-self: center;
}